<header class="navbar-fixed">
    <nav id="headNav" class="bg-color nav-transparent">
        <div id="navContainer" class="nav-wrapper container">
            <div class="brand-logo">
                <a href="<%- url_for() %>" class="waves-effect waves-light">
                    <% if (theme.logo !== undefined && theme.logo.length > 0) { %>
					<span style="white-space: nowrap;color: red" class="logo-span">MSC</span>
                    <img src="<%- theme.jsDelivr.url %><%- url_for(theme.logo) %>" class="logo-img" alt="LOGO">
                    <% } %>
                    <span style="white-space: nowrap;color: #0099cc" class="logo-span">AoMe</span>
                </a>
            </div>
            <%- partial('_partial/navigation') %>
        </div>

        <% if (theme.githubLink && theme.githubLink.enable) { %>
            <%- partial('_partial/github-link') %>
        <% } %>
    </nav>
	<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/jquery.pjax/2.0.1/jquery.pjax.min.js"></script>
<script>
    // 对所有链接跳转事件绑定pjax容器container
    // #container是跳转后需要替换的内容
 	$(document).pjax('a[target!=_blank]', '#container', {fragment:'#container', timeout:8000})
</script>

</header>
