<div id="reward">
    <a href="#rewardModal" class="reward-link modal-trigger waves-effect btn waves-light red">加入公社</a>

    <!-- Modal Structure -->
    <div id="rewardModal" class="modal">
        <div class="modal-content">
            <a class="close modal-close"><i class="fas fa-times"></i></a>
            <h4 class="reward-title"><%= theme.reward.title %></h4>
            <div class="reward-content">
                <div class="reward-tabs">
                    <ul class="tabs row">
                        <li class="tab col s6 alipay-tab waves-effect waves-light"><a href="#alipay">奥 美</a></li>
                        <li class="tab col s6 wechat-tab waves-effect waves-light"><a href="#wechat">磁 铁</a></li>
                    </ul>
                    <div id="alipay">
                        <a href="https://qm.qq.com/cgi-bin/qm/qr?k=mTNj7bAyf5ae6kE4Y7YUhlJTZT3_cA0b&jump_from=webapi&authKey=9VUw7pknuC6VFrgEkSLGR+GE/vaYw4pyZXsWeniaMLtJ/RYbt8qwPFJyyISaBDTs"><img src="<%- theme.jsDelivr.url %><%- url_for(theme.reward.alipay) %>" class="reward-img" alt="加入奥美公社"></a>
                    </div>
                    <div id="wechat">
                        <a href="https://mscmdd.github.io/www/"><img src="<%- theme.jsDelivr.url %><%- url_for(theme.reward.wechat) %>" class="reward-img" alt="加入磁铁公社"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $('.tabs').tabs();
    });
</script>
